vscode/.config/Code/*
!vscode/.config/Code/User/
vscode/.config/Code/User/*
!vscode/.config/Code/User/snippets/
!vscode/.config/Code/User/keybindings.json
!vscode/.config/Code/User/settings.json

nvim/.config/nvim/.netrwhist
